.button {
  background-color: $dark-purple;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  width: auto;
}

.button:hover {
  box-shadow: 1px 1px 4px 4px $light-blue;
  color: white;
  text-decoration: none;
  width: auto;
}

.button-top-margin {
  margin-top: 16px;
}
